<head>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>


<body>
  <div class="container">
    <a class="btn boton_regreso" href=" "><i class="bi bi-arrow-left">Volver</i></a>
    <div class="register-box">

      <h2>INICIAR SESION COMO PACIENTE</h2>
      <form [formGroup]="form" class="row g-3" (ngSubmit)="iniciarSesion($event)" novalidate>
        <div class="col-md-12">
          <label class="form-label" for="cuil">CUIL: </label>
          <input class="form-control atributos" type="number" formControlName="cuil" name="cuil" id="cuil"
            placeholder="Ingrese su número de CUIL"
            [ngClass]="{'is-invalid':cuil?.errors && cuil?.touched , 'is-valid':!cuil?.errors}" autofocus required>
          <div *ngIf="cuil?.hasError('required')" class="invalid-feedback">El número de cuil es requerido</div>
          <div *ngIf="cuil?.hasError('min') && !cuil?.hasError('required')" class="invalid-feedback">El número de
            cuil es inválido</div>



        </div>
        <div class="col-md-12">
          <label class="form-label" for="password">Contraseña: </label>
          <input class=" form-control atributos" type="password" name="password" formControlName="password"
            id="crearContrasena" minlength="8" maxlength="25" placeholder="Ingrese su contraseña"
            [ngClass]="{'is-invalid':password?.errors && password?.touched  , 'is-valid':!password?.errors && password?.touched}"
            required>

          <div *ngIf="password?.hasError('required')" class="invalid-feedback">Ingrese su contraseña</div>
          <div *ngIf="password?.hasError('minlength')" class="invalid-feedback">Ingrese una constraseña válida</div>
          <a href="#">¿Olvidaste tu contraseña?</a>
        </div>
        <br>

        <button id="botonIniciar" class="btn" type="submit">Iniciar sesión</button>

        <a class="text-center" href="registro-up">¿No tienes una cuenta? Click aquí</a>

      </form>
    </div>

  </div>

</body>