body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #E5EFF7;

}