

h1{
    margin: 3rem;
}

.container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   

}

.encabezado{
    display: flex;
  
    width: 80%;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
}

.field{
    display: flex;
    width: 80%;
}