<div
  class="box"
  [ngClass]="{box: pasarelaGratis || pasarelaSemestral || pasarelaAnual}"
>

  <div class="Header">
    <h1>HCP PREMIUM</h1>
    <p>Con nuestro servicio premium, podrás subir a nuestro servidor, tus diagnósticos por imagen o analisis clínicos
      para tenerlos seguros a tu alcance.<br>
      Recibirás notificaciones y novedades de HCP antes que cualquier otra persona.<br>
    </p>
  </div>
  <div class="card-group">
    <div class="card rounded">

      <div class="card-body">
        <h5 class="card-title">HCP Premium Gratis!!!</h5>
        <p class="card-text">Durante 1 mes, tendrás la posibilidad de conocer nuestro servicio.</p>

      </div>
      <button
        type="button"
        class="btn btn-light"
        (click)="abrirGratis()"
      >Prueba 1 MES</button>
    </div>
    <div class="card rounded">

      <div class="card-body">
        <h5 class="card-title">HCP 6 MESES</h5>
        <p class="card-text">Aprovecha nuetra suscripcón semestral y ahorra un 20%.</p>

      </div>
      <button
        type="button"
        class="btn btn-light"
        (click)="abrirSemestral()"
      >Suscríbete</button>
    </div>
    <div class="card rounded">

      <div class="card-body">
        <h5 class="card-title">HCP Anual</h5>
        <p class="card-text">Pensado para que tu historial clínico esté a resguardado y al alcance de tu mano</p>

      </div>
      <button
        type="button"
        class="btn btn-light"
        (click)="abrirAnual()"
      >Suscríbete</button>
    </div>
  </div>
</div>

<form [formGroup]="form">
  <mat-card-content
    class="content"
    *ngIf="pasarelaGratis"
  >
    <h2>Pago con tarjeta de crédito</h2>

    <mat-form-field
      class="form"
      [formGroup]="form"
    >
      <input
        matInput
        placeholder="Número de tarjeta"
        formControlName="numero"
        [ngClass]="{'is-invalid':numero?.errors && numero?.touched  , 'is-valid':!numero?.errors && numero?.touched}"
      >
      <div
        *ngIf="numero?.hasError('required')"
        class="invalid-feedback"
      >Ingrese el número de tarjeta
      </div>

      <div
        *ngIf="numero?.hasError('maxlength')"
        class="invalid-feedback"
      >El número de tarjeta no puede ser mayor a 16
      </div>


    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Fecha de vencimiento (MM/AA)"
        formControlName="vencimiento"
        [ngClass]="{'is-invalid':vencimiento?.errors && vencimiento?.touched  , 'is-valid':!vencimiento?.errors && vencimiento?.touched}"
      >
      <div
        *ngIf="vencimiento?.hasError('required')"
        class="invalid-feedback"
      >Ingrese la fecha de vencimiento
      </div>

      <div
        *ngIf="vencimiento?.hasError('maxlength')"
        class="invalid-feedback"
      >La fecha de vencimiento no puede ser mayor a 5 caracteres
      </div>

    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Código de seguridad"
        formControlName="codigo"
        [ngClass]="{'is-invalid':codigo?.errors && codigo?.touched  , 'is-valid':!codigo?.errors && codigo?.touched}"
      >
      <div
        *ngIf="codigo?.hasError('required')"
        class="invalid-feedback"
      >Ingrese el codigo
      </div>

      <div
        *ngIf="codigo?.hasError('maxlength')"
        class="invalid-feedback"
      >No puede superar los 3 caracteres
      </div>

    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Nombre del titular"
        formControlName="nombre"
        [ngClass]="{'is-invalid':nombre?.errors && nombre?.touched  , 'is-valid':!nombre?.errors && nombre?.touched}"
      >
      <div
        *ngIf="nombre?.hasError('required')"
        class="invalid-feedback"
      >Ingrese su nombre
      </div>

    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      (click)="gratis()"
    >Realizar pago</button>
  </mat-card-content>
</form>

<form [formGroup]="form">
  <mat-card-content
    class="content"
    *ngIf="pasarelaSemestral"
  >
    <h2>Pago con tarjeta de crédito</h2>

    <mat-form-field class="form">
      <input
        matInput
        placeholder="Número de tarjeta"
        formControlName="numero"
        [ngClass]="{'is-invalid':numero?.errors && numero?.touched  , 'is-valid':!numero?.errors && numero?.touched}"
      >
      <div
        *ngIf="numero?.hasError('required')"
        class="invalid-feedback"
      >Ingrese el número de tarjeta
      </div>

      <div
        *ngIf="numero?.hasError('maxlength')"
        class="invalid-feedback"
      >El número de tarjeta no puede ser mayor a 16
      </div>

    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Fecha de vencimiento (MM/AA)"
        formControlName="vencimiento"
        [ngClass]="{'is-invalid':vencimiento?.errors && vencimiento?.touched  , 'is-valid':!vencimiento?.errors && vencimiento?.touched}"
      >
      <div
        *ngIf="vencimiento?.hasError('required')"
        class="invalid-feedback"
      >Ingrese la fecha de vencimiento
      </div>

      <div
        *ngIf="vencimiento?.hasError('maxlength')"
        class="invalid-feedback"
      >La fecha de vencimiento no puede ser mayor a 5 caracteres
      </div>

    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Código de seguridad"
        formControlName="codigo"
        [ngClass]="{'is-invalid':codigo?.errors && codigo?.touched  , 'is-valid':!codigo?.errors && codigo?.touched}"
      >
      <div
        *ngIf="codigo?.hasError('required')"
        class="invalid-feedback"
      >Ingrese el codigo
      </div>

      <div
        *ngIf="codigo?.hasError('maxlength')"
        class="invalid-feedback"
      >No puede superar los 3 caracteres
      </div>

    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Nombre del titular"
        formControlName="nombre"
        [ngClass]="{'is-invalid':nombre?.errors && nombre?.touched  , 'is-valid':!nombre?.errors && nombre?.touched}"
      >
      <div
        *ngIf="nombre?.hasError('required')"
        class="invalid-feedback"
      >Ingrese su nombre
      </div>

    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      (click)="semestral()"
    >Realizar pago</button>
  </mat-card-content>
</form>
<form [formGroup]="form">
  <mat-card-content
    class="content"
    *ngIf="pasarelaAnual"
  >
    <h2>Pago con tarjeta de crédito</h2>

    <mat-form-field class="form">
      <input
        matInput
        placeholder="Número de tarjeta"
        formControlName="numero"
        [ngClass]="{'is-invalid':numero?.errors && numero?.touched  , 'is-valid':!numero?.errors && numero?.touched}"
      >
      <div
        *ngIf="numero?.hasError('required')"
        class="invalid-feedback"
      >Ingrese el número de tarjeta
      </div>

      <div
        *ngIf="numero?.hasError('maxlength')"
        class="invalid-feedback"
      >El número de tarjeta no puede ser mayor a 16
      </div>


    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Fecha de vencimiento (MM/AA)"
        formControlName="vencimiento"
        [ngClass]="{'is-invalid':vencimiento?.errors && vencimiento?.touched  , 'is-valid':!vencimiento?.errors && vencimiento?.touched}"
      >
      <div
        *ngIf="vencimiento?.hasError('required')"
        class="invalid-feedback"
      >Ingrese la fecha de vencimiento
      </div>

      <div
        *ngIf="vencimiento?.hasError('maxlength')"
        class="invalid-feedback"
      >La fecha de vencimiento no puede ser mayor a 5 caracteres
      </div>

    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Código de seguridad"
        formControlName="codigo"
        formControlName="codigo"
        [ngClass]="{'is-invalid':codigo?.errors && codigo?.touched  , 'is-valid':!codigo?.errors && codigo?.touched}"
      >
      <div
        *ngIf="codigo?.hasError('required')"
        class="invalid-feedback"
      >Ingrese el codigo
      </div>

      <div
        *ngIf="codigo?.hasError('maxlength')"
        class="invalid-feedback"
      >No puede superar los 3 caracteres
      </div>


    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Nombre del titular"
        formControlName="nombre"
        [ngClass]="{'is-invalid':nombre?.errors && nombre?.touched  , 'is-valid':!nombre?.errors && nombre?.touched}"
      >
      <div
        *ngIf="nombre?.hasError('required')"
        class="invalid-feedback"
      >Ingrese su nombre
      </div>

    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      (click)="anual()"
    >Realizar pago</button>
  </mat-card-content>
</form>