<div
  class="box"
  [ngClass]="{box: pasarelaGratis || pasarelaSemestral || pasarelaAnual}"
>

  <div class="Header">
    <h1>HCP PREMIUM</h1>
    <p>Con nuestro servicio premium, podrás subir a nuestro servidor, tus diagnósticos por imagen o analisis clínicos
      para tenerlos seguros a tu alcance.<br>
      Recibirás notificaciones y novedades de HCP antes que cualquier otra persona.<br>
    </p>
  </div>
  <div class="card-group">
    <div class="card rounded">

      <div class="card-body">
        <h5 class="card-title">HCP Premium Gratis!!!</h5>
        <p class="card-text">Durante 1 mes, tendrás la posibilidad de conocer nuestro servicio.</p>

      </div>
      <button
        type="button"
        class="btn btn-light"
        (click)="abrirGratis()"
      >Prueba 1 MES</button>
    </div>
    <div class="card rounded">

      <div class="card-body">
        <h5 class="card-title">HCP 6 MESES</h5>
        <p class="card-text">Aprovecha nuetra suscripcón semestral y ahorra un 20%.</p>

      </div>
      <button
        type="button"
        class="btn btn-light"
        (click)="abrirSemestral()"
      >Suscríbete</button>
    </div>
    <div class="card rounded">

      <div class="card-body">
        <h5 class="card-title">HCP Anual</h5>
        <p class="card-text">Pensado para que tu historial clínico esté a resguardado y al alcance de tu mano</p>

      </div>
      <button
        type="button"
        class="btn btn-light"
        (click)="abrirAnual()"
      >Suscríbete</button>
    </div>
  </div>
</div>

<mat-card-content
  class="content"
  *ngIf="pasarelaGratis"
>
  <h2>Pago con tarjeta de crédito</h2>

  <mat-form-field class="form">
    <input
      matInput
      placeholder="Número de tarjeta"
      maxlength="16"
    >
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Fecha de vencimiento (MM/AA)"
    >
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Código de seguridad"
    >
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Nombre del titular"
    >
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    (click)="gratis()"
  >Realizar pago</button>
</mat-card-content>

<mat-card-content
  class="content"
  *ngIf="pasarelaSemestral"
>
  <h2>Pago con tarjeta de crédito</h2>

  <mat-form-field class="form">
    <input
      matInput
      placeholder="Número de tarjeta"
      maxlength="16"
    >
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Fecha de vencimiento (MM/AA)"
    >
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Código de seguridad"
    >
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Nombre del titular"
    >
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    (click)="semestral()"
  >Realizar pago</button>
</mat-card-content>

<mat-card-content
  class="content"
  *ngIf="pasarelaAnual"
>
  <h2>Pago con tarjeta de crédito</h2>

  <mat-form-field class="form">
    <input
      matInput
      placeholder="Número de tarjeta"
      maxlength="16"
    >
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Fecha de vencimiento (MM/AA)"
    >
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Código de seguridad"
    >
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Nombre del titular"
    >
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    (click)="anual()"
  >Realizar pago</button>
</mat-card-content>


<!-- <app-pasarela-de-pago
  class="credit-card"
  *ngIf="pasarelaGratis || pasarelaSemestral || pasarelaAnual"
></app-pasarela-de-pago> -->