

<div class="container">

  <mat-card class="card"  
    fxLayout="column" 
    fxLayoutAlign="top center" 
    fxFlex="70% "
    fxFlex.sm="100%">

      <mat-card-header 
        class="header" 
        
        >
        <mat-card-title 
          class="title"
          
          >
          Hacete premium
        
        </mat-card-title>
        
        <mat-card-subtitle class="subtitle">
          Conseguí hoy mismo una suscripción</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <!-- <img src="/assets/carpet.svg" class="img" alt="icon-carptet"> -->
  <mat-card-content class="content"
    fxLayout="colum" 
    fxLayoutAlign="center" 
    fxFlex="80%"
    fxFlex.sm="20%">

    <span class="span"
   
    >
    Cargá imágenes y archivos de tus consultas
    </span>
    <mat-icon>cloud_upload</mat-icon>

    
  </mat-card-content>
  <mat-card-footer class="footer">
<button 
  mat-button color="primary"
  >
  
  Plan Premium</button>
  </mat-card-footer>
</mat-card>
</div>
