<section>
  <div class="register-box">
      <h2>CREAR CUENTA MEDICA</h2>
      <form class="needs-validation row g-3 " name='formulario' id='formulario' novalidate>
          <div class="col-md-6">
              <label class="form-label" for="nombre">Nombre: </label>
              <input class="form-control atributos" type="text" name="nombre" id="nombre" maxlength="60"
                  placeholder="Ingrese su nombre" required autofocus>

          </div>
          <div class="col-md-6">
              <label class="form-label" for="apellido">Apellido: </label>
              <input class="form-control atributos" type="text" name="apellido" id="apellido" maxlength="55"
                  placeholder="Ingrese su apellido" required>
          </div>
          <div class="col-md-6">
              <label class="form-label" for="cuil">Matrícula: </label>
              <input class="form-control atributos" type="number" name="matricula" id="matricula"
                  min="10000000000" max="99999999999" placeholder="Ingrese matrícula sin puntos ni diagonales" required>
              <div class="invalid-feedback">
                  Ingrese un nro. de matrícula válido.
              </div>
          </div>
          <div class="col-md-6">
              <label class="form-label" for="email">Correo electronico: </label>
              <input class="form-control atributos" type="email" name="email" id="email"
                  placeholder="Ingrese su correo electronico" required>
              <div class="invalid-feedback">
                  Ingrese un email válido
              </div>
          </div>
          <div class="col-md-6">
              <label class="form-label" for=" contraseña">Crea tu contraseña: </label>
              <input class=" form-control atributos" type="password" name="crearContrasena" id="crearContrasena"
                  minlength="8" maxlength="25" placeholder="Ingrese su contraseña" required>
              <div class="invalid-feedback">
                  La contraseña debe tener una longitud mínima de 8 caracteres.
              </div>
          </div>
          <div class="col-md-6">
              <label class="form-label" for="contraseña">Confirma tu contraseña: </label>
              <input class=" form-control atributos" type="password" name="confirmarContrasena"
                  id="confirmarContrasena" minlength="8" maxlength="25"
                  placeholder="Ingrese nuevamente la contraseña" required>
              <div class="invalid-feedback">
                  Las contraseñas no coinciden
              </div>
          </div>
          <div class="col-md-6">
              <label class="form-label" for="nacimiento">Fecha de nacimiento: </label>
              <input class=" form-control atributos" type="date" name="nacimiento" id="nacimiento"
                  min="1907-01-01" max="2022-12-31" required>
              <div class="invalid-feedback">
                  Ingrese una fecha de nacimiento válida
              </div>
          </div>
          <div class="col-md-6">
              <label class="form-label atributos" for="sexo">Sexo</label>
              <select class="atributos" name="sexo" id="sexo" required>
                  <option selected disabled value="">Seleccione su sexo</option>
                  <option value="mujer">Mujer</option>
                  <option value="masculino">Hombre</option>
                  <option value="otro">Otro</option>
              </select>
              <div class="invalid-feedback">
                  Selecciona un sexo válido
              </div>
          </div>
          <input id="botonEnviar" type="submit" value="Crear cuenta" onclick="comprobarContrasena()">
          <a class="text-center" href="inicio-sesionm.html">¿Ya tienes una cuenta? Click aquí</a>
          </form>
  </div>
</section>