<section>
    <div class="container">
        <div class="register-box">
            <h2>CREAR CUENTA PACIENTE</h2>
            <form 
                class="needs-validation row g-3 " 
                [formGroup]="pacienteForm"
                (ngSubmit)="onSubmit()"
                >
                <div class="col-md-6">
                    <label class="form-label" for="nombre">Nombre: </label>
                    <input 
                        class="form-control atributos" 
                        type="text" 
                        pattern="[A-Za-z]{2-60}" 
                        title="No es un nombre"
                        formControlName="username"
                        placeholder="Ingrese su nombre" 
                        required 
                        autofocus>
                    <div class="invalid-feedback">
                        Ingrese un nombre.
                    </div>
                </div>
                <!-- <label for="">id
                    <input type="text"
                    formControlName="id">
                </label> -->
                <!-- <div class="col-md-6">
                    <label class="form-label" for="apellido">Apellido: </label>
                    <input class="form-control atributos" type="text" pattern="[A-Za-z]{2-60}" name="apellido"
                        id="apellido" placeholder="Ingrese su apellido" required>
                    <div class="invalid-feedback">
                        Ingrese un apellido.
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="cuil">CUIL: </label>
                    <input class="form-control atributos" type="number" name="cuil" id="cuil" min="10000000000"
                        max="99999999999" placeholder="Ingrese CUIL sin guiones ni puntos" required>
                    <div class="invalid-feedback">
                        Ingrese un CUIL válido.
                    </div>
                </div> -->
                <div class="col-md-6">
                    <label class="form-label" for="email">Email: </label>
                    <input 
                        class="form-control atributos" 
                        type="email" 
                        formControlName="email"
                        placeholder="Ingrese su correo electrónico" 
                        required
                        >
                    <div class="invalid-feedback">
                        Ingrese un email válido.
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Crea tu contraseña: </label>
                    <input 
                        class="form-control atributos" 
                        type="password" 
                        minlength="8" maxlength="25" 
                        formControlName="password"
                        placeholder="Ingrese su contraseña"
                        required>
                    <div class="invalid-feedback">
                        Ingrese una contraseña válida.
                    </div>
                </div>
                <!-- <div class="col-md-6">
                    <label class="form-label" for="confirmarContrasenaPaciente">Confirma tu contraseña: </label>
                    <input class="form-control atributos" type="password" name="confirmarContrasenaPaciente"
                        id="confirmarContrasenaPaciente" minlength="8" maxlength="25"
                        placeholder="Ingrese nuevamente la contraseña" required>
                    <div class="invalid-feedback">
                        Las contraseñas no coinciden.
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="nacimiento">Fecha de nacimiento: </label>
                    <input class="form-control atributos" type="date" name="nacimiento" id="nacimiento" min="1907-01-01"
                        max="2022-12-31" required>
                    <div class="invalid-feedback">
                        Ingrese una fecha de nacimiento válida.
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="sexo">Sexo</label>
                    <select class="atributos" name="sexo" id="sexo" required>
                        <option selected disabled value="">Seleccione su sexo</option>
                        <option value="mujer">Mujer</option>
                        <option value="masculino">Hombre</option>
                        <option value="otro">Otro</option>
                    </select>
                    <div class="invalid-feedback">
                        Selecciona su sexo.
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="sangre">Grupo sanguineo</label>
                    <select class="atributos" name="sangre" id="sangre" required>
                        <option selected disabled value="">Seleccione grupo sanguineo</option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="0+">0+</option>
                        <option value="0-">0-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                    </select>
                    <div class="invalid-feedback">
                        Selecciona un grupo sanguineo.
                    </div>
                </div> -->

                <button mat-raised-button
                        color="primary"
                        (click)="onSubmit()"
                        >
                        <mat-icon>
                           send
                        </mat-icon>
                    
                    </button>
                                
                <button
                    mat-button color="succes"
                    routerLink="/auth/login-up"
                >
                    ¿Ya tienes una cuenta? Click aquí
                </button>

                <!-- TODO formulario -->