<div class="container-lg">
    <div class="row">

      <div class="menu-lateral col-sm-3 d-flex nav flex-column">
        <ul class="nav nav-content flex-column mb-auto">

          <div class="cont-logo">
            <li class="nav-item">
              <a class="navbar-brand" href="#">
                <img src="Assets/1665725213812.png" alt="Logo"
                  class="logo d-inline-block align-text-top">
              </a>
            </li>

                <button class="icono btn bi bi-caret-right-fill accordion-button show" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="true" aria-controls="collapseWidthExample"></button>
  
          </div>

          <li class="nav-item">
            <i class="icono  bi bi-house-door-fill"></i>
            <a class="nav-link  collapse-horizontal" aria-current="page" routerLink="/inicio"  id="collapseWidthExample">Home</a>
          </li>

          <li class="nav-item">
            <i class="icono  bi bi-clipboard2-fill"></i>
            <a class="nav-link  collapse-horizontal" href="historial.html"  id="collapseWidthExample">
              Historial</a>
          </li>

          <li class="nav-item">
            <i class=" icono bi bi-calendar-event"></i>
            <a class="nav-link collapse-horizontal" href="agenda.html"  id="collapseWidthExample">
              Agenda</a>
          </li>
        </ul>
      </div>

      <div class="contenedor col">

        <div class="cabecera  col ">
          <span class="navbar-brand  h1">INICIO</span>
          <a class="nav-link active" href="perfil.html">
            <i class="icono active bi bi-person-fill "></i>
          </a>
        </div>