app-header{
    position: fixed;
    width: 100%;
    top: 0%;
    height: 64px;
    z-index: 2;
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 0px 0.5px rgba(0, 0, 0, 0.5);
}

main{
    position: absolute;
    width: 100%;
    height: calc(100% - 64px);
    top: 64px;
    z-index: 1;
}


app-sidebar{
    position: absolute;
    left: 0rem;
    width: 60px;
    height: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(245, 245, 245);
    overflow-x: hidden;
    white-space: nowrap;
  
}

.app-sidebar-open{
    width: 190px;
}

.display-area{
    position:absolute;
    left:60px;
    width: calc(100%-190px);

}
.display-area-shrink{
    width: calc(100% - 180px);
    left:180px;
}
