<div
    class="container-fluid g-0 "
    id="contenedor"
>

    <app-header (sideNavToggled)="sideNavStatus=$event;"></app-header>

    <main>
        <app-sidebar
            [sideNavStatus]="sideNavStatus"
            [ngClass]="{'app-sidebar-open':sideNavStatus}"
        ></app-sidebar>
        <div
            class="container-fluid display-area p-3"
            [ngClass]="{'display-area-shrink':sideNavStatus}"
        >

            <router-outlet></router-outlet>
        </div>
    </main>

</div>