<mat-card-content
  *ngIf="pasarela"
  class="content"
>
  <h2>Pago con tarjeta de crédito</h2>

  <mat-form-field class="form">
    <input
      matInput
      placeholder="Número de tarjeta"
      maxlength="16"
    >
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Fecha de vencimiento (MM/AA)"
      maxlength="5"
    >
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Código de seguridad"
      maxlength="3"
    >
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Nombre del titular"
    >
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    (click)="comprarServicio()"
  >Realizar pago</button>
</mat-card-content>