<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cuenta | Paciente</title>
    <link rel="stylesheet" href="style-cuenta.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</head>

<body id="bodyhtml">
    <header>
        <nav class="navbar navbar-expand-lg bg-light" id="navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="https://francoser.github.io/ISPC_2do_semestre_2022">HCP</a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="https://francoser.github.io/ISPC_2do_semestre_2022">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Registrarse
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="crear-cuentap.html">Como Paciente</a>
                                </li>
                                <li><a class="dropdown-item" href="crear-cuentam.html">Como Medico</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Iniciar sesión
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="inicio-sesionp.html">Como Paciente</a>
                                </li>
                                <li><a class="dropdown-item" href="inicio-sesionm.html">Como Medico</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Caracteristicas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://c1721711.ferozo.com/" target = '_blank'>Acerca de nosotros</a>
                        </li>
                        
                        

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section>
        <div class="container">
            <div class="register-box">
                <h2>CREAR CUENTA PACIENTE</h2>
                <form class="needs-validation row g-3 " name='formulario_nuevoPaciente' id='formulario_nuevoPaciente'
                    novalidate>
                    <div class="col-md-6">
                        <label class="form-label" for="nombre">Nombre: </label>
                        <input class="form-control atributos" type="text" pattern="[A-Za-z]{2-60}"
                            title="No es un nombre" name="nombre" id="nombre" placeholder="Ingrese su nombre" required
                            autofocus>
                    </div>
                    <div class="col-md-6">

                        <label class="form-label" for="apellido">Apellido: </label>
                        <input class="form-control atributos atributos" type="text" pattern="[A-Za-z]{2-60}"
                            name="apellido" id="apellido" placeholder="Ingrese su apellido" required>
                    </div>

                    <div class="col-md-6">

                        <label class="form-label" for="cuil">CUIL: </label>
                        <input class="form-control atributos" type="number" name="cuil" id="cuil" min="10000000000"
                            max="99999999999" placeholder="Ingrese su número de CUIL" required>
                        <div id="cuilHelp" class="form-text">Sin guiones ni puntos.</div>
                        <div class="invalid-feedback">
                            Ingrese un CUIL válido
                        </div>
                    </div>

                    <div class="col-md-6">

                        <label class="form-label" for="email">Correo electronico: </label>
                        <input class="form-control atributos" type="email" name="email" id="email"
                            placeholder="Ingrese su correo electrónico" required>
                        <div class="invalid-feedback">
                            Ingrese un email válido
                        </div>
                    </div>

                    <div class="col-md-6">

                        <label class="form-label" for="crearContrasenaPaciente">Crea tu contraseña: </label>
                        <input class="form-control atributos" type="password" name="crearContrasenaPaciente"
                            id="crearContrasenaPaciente" minlength="8" maxlength="25"
                            placeholder="Ingrese su contraseña" required>
                        <div class="invalid-feedback">
                            La contraseña debe tener una longitud mínima de 8 caracteres.
                        </div>
                    </div>

                    <div class="col-md-6">

                        <label class="form-label" for="confirmarContrasenaPaciente">Confirma tu contraseña: </label>
                        <input class="form-control atributos" type="password" name="confirmarContrasenaPaciente"
                            id="confirmarContrasenaPaciente" minlength="8" maxlength="25"
                            placeholder="Ingrese nuevamente la contraseña" required>
                        <div class="invalid-feedback">
                            Las contraseñas no coinciden
                        </div>
                    </div>

                    <div class="col-md-3">

                        <label class="form-label" for="nacimiento">Fecha de nacimiento: </label>
                        <input class="form-control atributos" type="date" name="nacimiento" id="nacimiento"
                            min="1907-01-01" max="2022-12-31" required>
                        <div class="invalid-feedback">
                            Ingrese una fecha de nacimiento válida
                        </div>
                    </div>

                    <div class="col-md-4">

                        <label class="form-label" for="sexo">Sexo</label>
                        <select class="atributos" name="sexo" id="sexo" required>
                            <option selected disabled value="">Seleccione su sexo</option>
                            <option value="mujer">Mujer</option>
                            <option value="masculino">Hombre</option>
                            <option value="otro">Otro</option>
                        </select>
                        <div class="invalid-feedback">
                            Selecciona un sexo válido.
                        </div>
                    </div>
                    <input class="button" id="botonEnviar" type="submit" value="Crear cuenta"
                        onclick="comprobarContrasena2()"><br>
                    <a class="text-center" href="inicio-sesionp.html">¿Ya tienes una cuenta? Click aquí</a>
                    <script>
                        // Ejemplo de JavaScript inicial para deshabilitar el envío de formularios si hay campos no válidos
                        (function () {
                            'use strict'

                            // Obtener todos los formularios a los que queremos aplicar estilos de validación de Bootstrap personalizados
                            var forms = document.querySelectorAll('.needs-validation')

                            // Bucle sobre ellos y evitar el envío
                            Array.prototype.slice.call(forms)
                                .forEach(function (form) {
                                    form.addEventListener('submit', function (event) {
                                        if (!form.checkValidity()) {
                                            event.preventDefault()
                                            event.stopPropagation()
                                        }
                                        else {

                                            event.preventDefault();
                                            window.location.href = "home.html";
                                        }
                                        form.classList.add('was-validated')
                                    }, false)
                                })
                        })()

                    </script>

                    <script>
                        function comprobarContrasena2() {
                            let clave1 = document.getElementById('crearContrasena').value;
                            let clave2 = document.getElementById('confirmarContrasenaPaciente').value;


                            alert("funciona");



                            if (clave1 == clave2) {
                                console.log('las contrasenas coinciden');
                                document.getElementById('confirmarContrasenaPaciente').setCustomValidity('');

                            }
                            else {
                                if (clave2 != ' ') {

                                    console.log('Las contraseñas no coinciden');
                                    document.getElementById('confirmarContrasenaPaciente').setCustomValidity("Las contraseñas no coinciden");
                                }
                                else {
                                    document.getElementById('confirmarContrasenaPaciente').setCustomValidity("Confirme su contraseña");

                                }
                            }
                        }
                    </script>
                </form>
            </div>
    </section>

    <footer>

    </footer>
</body>

</html>