

<div class="container">

  <mat-grid-list cols="1" 
    *ngIf="!pacienteSeleccionado else divPaciente">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>

</mat-grid-list>
<ng-template #divPaciente>

  <mat-card class="card"  
    fxLayout="column" 
    fxLayoutAlign="center center" 
    fxFlex="100%">

      <mat-card-header 
        class="header">

        <mat-card-title 
          class="title">
        {{pacienteSeleccionado.nombre_p + ' ' + pacienteSeleccionado.apellido_p}}
        </mat-card-title>
        
        <mat-card-subtitle class="subtitle">
        {{pacienteSeleccionado.premium | premium}}
        </mat-card-subtitle>
      </mat-card-header>

      <!-- <img 
        mat-card-image height="300px"
        [src]= 'pacienteSeleccionado | imagen' alt=""> -->
  <!-- TODO : hacer pipe imagen -->

  <mat-card-content class="content">
    <p>
      <strong>
        Cuil:
      </strong>
          {{pacienteSeleccionado.cuil}}
    </p>
        <br>
    <p>
      <strong>
        Fecha de Nacimiento:
      </strong>
          {{pacienteSeleccionado.nacimiento_p}}
    </p>
        <br>
        <p>
      <strong>
        Teléfono:
      </strong>
          {{pacienteSeleccionado.telefono_p}}
    </p>
        <br>
    <p>
      <strong>
        Dirección:
      </strong>
          {{pacienteSeleccionado.direccion_p}}
    </p>
        <br>
     <p>
       <strong>
         Email:
       </strong>
           {{pacienteSeleccionado.mail_p}}
     </p>
         <br>
     <p>
       <strong>
         Género:
       </strong>
           {{pacienteSeleccionado.genero_p}}
     </p>
         <br>
         <p *ngIf="historiaClinica">
       <strong>
         Fecha de la visita:
       </strong>
           {{historiaClinica.fecha}}
     </p>
         <br>
     <p *ngIf="historiaClinica">
       <strong>
         Observaciones:
       </strong>
           {{historiaClinica.observaciones}}
     </p>
          <br>
    <p *ngIf="historiaClinica">
      <strong>
        Especialidad:
      </strong>
          {{historiaClinica.especialidad}}
    </p>
         <br>
        <p *ngIf="historiaClinica">
       <strong>
         Observaciones:
       </strong>
           {{historiaClinica.observaciones}}
     </p>        

  </mat-card-content>

</mat-card>
</ng-template>
</div>

