.container{
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.card{
    /* background: saddlebrown; */
    margin: 0;
    padding: 0;

}

.header{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    /* background: indianred; */


}
