<div class="container">
  <h1
    mat-dialog-title
    class="text"
  >
    ¿NOMBRE Estás seguro de eliminar su cuenta ?
  </h1>
  <div
    mat-dialog-content
    class="text"
  >
    Este proceso no es reversible, al tocar OK usted será redirigido fuera de la aplicación
    y ya no tendrá acceso a su cuenta
  </div>

  <div
    mat-dialog-actions
    class="spacer"
  >
    <button
      mat-raised-button
      (click)="onNoClick()"
    >
      No, gracias
    </button>

    <button
      mat-button
      color="warn"
      (click)="onConfirm()"
      cdkFocusInitial
    >
      Ok

    </button>
  </div>