.fondoLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FBFFFF;
}

.fondoLogo img{
    width: 50%;
    height: 50%;
    margin-top: 25%;
    margin-left: 30%;
    margin-right: 30%;
}

.contenedorLogo{
    justify-content: center;
    display: flex;
}

.seleccionDePerfil{
    position: relative; 
     
}

.fondo{
    background-image:url(imagenes/pc/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bienvenidaYlogo{
justify-content: center;
margin-left: 0%;
margin-top: 8%;
}

.bienvenida{
font-weight: 700;
font-size: 150%;
line-height: 23px;
text-align: center;
text-transform: uppercase;
color: #7DB9FF;
margin-bottom: 3%;
}

.botonesYtexto{
    
    font-size: 20px;
    line-height: 23px;
    color: #01CDBB;
    
    }


.botones{
margin:auto;
flex-direction:row;
justify-content: center;
display:flex;
height: 10%;
width: 10%;
text-decoration: none;
border: 1px solid #ffffff34;
}

#botonmp {
text-decoration: none;
border: 1px solid #ffffff00;
}


.botonPaciente:hover {
    cursor: pointer;
    background: #7DB9FF;
    color: #FBFFFF;
}

.botonProfesional:hover {
    cursor: pointer;
    background: #7DB9FF;
    color: #FBFFFF;
}

.textoComoIngresar{
    margin-top: 2%;
    justify-content: center;
    display: flex;
}

.botonPaciente{

border: 1px groove black;
margin: 5%;
display: flex;
justify-content: center;
align-items: center;
padding: 16px;
background: #7DB9FF;
border-radius: 4px;
width: 115px;
height: 23px;
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 23px;
color: #FBFFFF;
}

.botonProfesional{
border: 1px groove black;
margin: 5%;
display: flex;
justify-content: center;
align-items: center;
    
background: #01CDBB;
border-radius: 4px;
    
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 23px;
color: #FBFFFF;
order: 1;
}

.botonPaciente, .botonProfesional{
  margin-top: 20%;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px #999;
}

.botonProfesional:hover{
    background-color:#04a699;
}
.botonProfesional:active{
    background-color: #05b8a9;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.botonPaciente:hover{
    background-color:#4f97e9;
}
.botonPaciente:active{
    background-color: #2789f8;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.logoSeleccion{
    margin: 0px auto;
    display: flex;
    width: 15%;
    height: 20%;
    top: 5%;
    left: 5%;
}


/*.logoSeleccion{
    margin: 0px auto;
    display: flex;
    width: 122px;
    height: 128px;
    top: 63px;
    left: 174px;
}

