
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: relative;
    width: 1440px;
    height: 1040px;
    background: #FBFFFF;
    width: 50%;
    height: 50%;
    top: 10%;
    left: 20%;
    right: 20%;
}

.seleccionDePerfil{
    position: relative;
    width: 1440px;
    height: 1024px;

    /* ALTO */

    background: #FBFFFF;
}