<div class="contain">
    <div class="container">

        <div class="container-logo">
            <div class="bienvenida">
                <p>¡Bienvenido/a!</p>
            </div>

            <img
                src="assets/logo.png"
                alt="imagen"
                class="logo-img"
            >

        </div>

        <div class="container-botones">
            <div class="texto-ingresar">
                <p>¿Cómo querés ingresar?</p>
            </div>
            <ul class='botones'>
                <li
                    class="boton"
                    routerLink="auth/login-up"
                >
                    Paciente
                </li>
                <li
                    class="boton"
                    routerLink="auth/login-um"
                >
                    Profesional
                </li>
            </ul>
        </div>
    </div>