:root {

    --bs-primary: #01CDBB !important;
    --bs-secondary: #7DB9FF !important;
    --bs-success: #82C619 !important;
    --bs-info: #196AFC;
    --bs-warning: #FFB600;
    --bs-danger: #FF522A;
    --bs-light: #FBFFFF !important;
    --bs-dark: #334241 !important;
    --bs-nav-pills-link-active-color: #FBFFFF !important;
    --bs-nav-pills-link-active-bg: #01CDBB !important;
}

*{
    margin: 8px;
    padding: 0px;
 
}

.cabecera {
    top: 0px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #FBFFFF !important;
}

.h1{
    margin-top: 0;
   margin-left: 25%;
    font-weight: 500;
    line-height: 1.2;
}

.menu-lateral {
   margin-top: 0px;
    padding: 0px;
    background-color: #FBFFFF !important;
    width: 185px;
   gap: 40px;
    
   
}


.cont-logo{
    color: #01CDBB;
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
justify-content: space-between;
height: 50px;
}

.nav-link{
    
    color: #01CDBB !important;
}


.bi{
    height: 40px;
width: 40px;
left: 16px;
top: 8px;

color: #01CDBB;
margin-right: 16px;
}

.active{
    color: #FBFFFF !important;
    background-color: #01CDBB !important;
}




.col-sm-3{
    width: 185px !important;
}

.contenido {
    background-color: #334241;
    height: 950px;
}








/*
.menu {
    width: 185px;
    height: 1024px;
    
}

.navbar{
    display: flex;
flex-direction: row;
align-items: center;
padding: 8px 16px;
gap: 477px;

position: absolute;
width: 1133px;
height: 72px;
left: 0px;
top: 0px;


}

.logo{
  
    height: 40px;
left: 16px;
top: 8px;
border-radius: 0px;


}

.nav-link{
    padding: 8px 16px;
    color: #01CDBB !important;
    
}




a.navbar-brand {
    height: 400px;
    width: 40px;
    left: 16px;
    top: 8px;
}

.icono{
    height: 40px;
width: 40px;
left: 16px;
top: 8px;
border-radius: 0px;
color: #01CDBB;
margin-right: 16px;
}

.cont-logo{
    color: #01CDBB;
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
}


.cont-logo .icono{
    
    top:6px;
    left:106px;
 
}

.nav-link.active{
    color: #FBFFFF !important;
    background-color: #01CDBB !important;
}
*/