.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2rem;
    
}

.card{

    width: 100%;
    background-color: white;
    margin: 1rem;
}
.subtitle{
    color: black;
}