<div class="container">
  <!-- <app-buscar></app-buscar> -->

  <mat-card
    color="primary"
    class="card"
    *ngFor="let paciente of pacientes"
  >
    <mat-card-header>
      <mat-card-title>
        {{paciente.apellido_p}}
      </mat-card-title>
      <mat-card-subtitle class="subtitle">
        {{paciente.nombre_p}}
      </mat-card-subtitle>
    </mat-card-header>

    <!-- el id es igual al nombre de la img -->
    <!-- <img 
      mat-card-image height="300px"
      [src]= 'paciente | imagen' alt=""> -->

    <mat-card-content>
      <h3>
        {{paciente.mail_p}}
      </h3>
      <p>
        <strong>
          Fecha de nacimiento
        </strong>
        {{paciente.nacimiento_p}}
        <br>
        <strong>
          Grupo sanguineo
        </strong>
        {{paciente.sangre}}
      </p>
    </mat-card-content>

    <!-- para botones -->

    <!-- [routerLink]="['/pacientes', paciente.id]" 
      defino las propiedades para las rutas, armo la matriz -->

    <mat-card-actions>
      <button
        mat-button
        color="primary"
        [routerLink]="['/users/home-um/nuevo-historial', paciente.id]"
      >
        Agregar consulta

      </button>
      <button
        mat-button
        color="primary"
        [routerLink]="['/users/home-up/up-perfil', paciente.id]"
      >
        ver paciente

      </button>

      <!-- <button mat-button color="info"
          [routerLink]="['/pacientes/editar', paciente.id]" >
          Editar
      </button> -->
    </mat-card-actions>

  </mat-card>


</div>
















































































<!-- <div class="contenido col">



            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">

                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button mat-raised-button color="primary"   class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseOne">
                            Datos Paciente
                        </button>
                    </h2>
                    <div 
                            id="panelsStayOpen-collapseOne" 
                            class="accordion-collapse collapse show"
                            aria-labelledby="panelsStayOpen-headingOne"
                            *ngFor="let paciente of pacientes">

                        <div class="accordion-body">
                            <ul class="list-group list-group-flush">
                                <p>
                                    <strong>
                                      Fecha de Nacimiento:
                                    </strong>
                                        {{paciente.nacimiento_p}}
                                  </p>
                                      <br>
                                      <p>
                                    <strong>
                                      Teléfono:
                                    </strong>
                                        {{paciente.telefono_p}}
                                  </p>
                                      <br>
                                  <p>
                                    <strong>
                                      Dirección:
                                    </strong>
                                        {{paciente.direccion_p}}
                                  </p>
                                      <br>
                                   <p>
                                     <strong>
                                       Email:
                                     </strong>
                                         {{paciente.mail_p}}
                                   </p>
                                       <br>
                                   <p>
                                     <strong>
                                       Género:
                                     </strong>
                                         {{paciente.genero_p}}
                                   </p>
                                   <br>
                                  <p>
                                    <strong>
                                      Grupo sanguineo:
                                    </strong>
                                        {{paciente.sangre}}
                                  </p>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button mat-raised-button color="primary" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseTwo">
                            Consulta
                        </button>
                    </h2>
                    <div 
                        >
                        <div class="accordion-body">
                            <p *ngIf="historiaClinica">
                                <strong>
                                  Fecha de la visita:
                                </strong>
                                    {{historiaClinica.fecha}}
                              </p>
                                  <br>
                                  <p *ngIf="historiaClinica">
                                    <strong>
                                      Especialidad:
                                    </strong>
                                        {{historiaClinica.especialidad}}
                                  </p>
                                       <br>
                              <p *ngIf="historiaClinica">
                                <strong>
                                  Observaciones:
                                </strong>
                                    {{historiaClinica.observaciones}}
                              </p>
                                 <br>
                                 <p *ngIf="historiaClinica">
                                    <strong>
                                      Diagnóstico:
                                    </strong>
                                        {{historiaClinica.diagnostico}}
                                  </p>
                                 <p *ngIf="historiaClinica">
                                <strong>
                                  Última presión arterial registrada:
                                </strong>
                                    {{historiaClinica.presion}}
                              </p>
                                   <br>
                               <p *ngIf="historiaClinica">
                                 <strong>
                                   Último peso registrado:
                                 </strong>
                                     {{historiaClinica.peso}}
                               </p>
                                    <br>
                                   <p *ngIf="historiaClinica">
                                  <strong>
                                    Última altura registrada:
                                  </strong>
                                      {{historiaClinica.altura}}
                               </p>
                                     <br>
                         
                               <p *ngIf="historiaClinica">
                                 <strong>Medicación:</strong>
                                 {{historiaClinica.medicacion}}
                               </p>
                               <br>
                               <p *ngIf="historiaClinica">
                                 <strong>Dieta:</strong>
                                 {{historiaClinica.dieta}}
                               </p>
                               <br>
                               <p *ngIf="historiaClinica">
                                 <strong>Vacunación:</strong>
                                 {{historiaClinica.vacuna}}
                               </p>
                               
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                        <button mat-raised-button color="primary" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseThree">
                            Más datos
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingThree">
                        <div class="accordion-body">
                            <br>
                          
                               <p *ngIf="historiaClinica">
                                 <strong>Prueba diagnóstica:</strong>
                                 {{historiaClinica.prueba_diagnostica}}
                               </p>
                               <br>
                               <p *ngIf="historiaClinica">
                                 <strong>Adjuntos:</strong>
                                 {{historiaClinica.adjunto}}
                               </p>
                               <br>
                               
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    </div>


</div> -->